<a href="https://colab.research.google.com/github/chaiminwoo0223/Deep-Learning/blob/main/01%20-%20Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Print

In [1]:
# print 함수에는 기본적으로 줄바꿈(new line)이 들어가 있다.
print("Hello World")

# 문자열을 출력하고 이어서 출력할 문자열은 명시적으로 바꿀 수 있다.
print("Hello", end = "\t")
print("Hi")

# 문자열을 출력하고 이어서 출력할 문자열은 명시적으로 지정할 수 있다.
print("Hello", end = "abc")

Hello World
Hello	Hi
Helloabc

In [2]:
# format 이라는 함수를 이용해 문자열의 특정 위치에 변수를 출력할수도 있다.
string = "python"
print("I love {}".format(string))

I love python

In [3]:
# format 함수는 다양한 설정으로 사용할 수 있다.(예 : 전체 12칸에서 왼쪽 정렬, 오른쪽 정렬, 가운데 정렬 그리고 빈칸을 다른 값으로 채우는 방법)
print("{:<12}".format(999))
print("{:>12}".format(999))
print("{:^12}".format(999))
print("{:*^12}".format(999))

999
         999
    999
****999*****

## 2.변수와 변수의 타입

In [4]:
# 파이썬은 자동으로 타입을 지정해준다.

# 정수(int)
a = 2
print(a, type(a))

# 실수(float)
b = 2.0
print(b, type(b))

# 문자열(string)
c = "Hello"
print(c, type(c))

2 <class 'int'>
2.0 <class 'float'>
Hello <class 'str'>

In [5]:
# 만약 정수와 실수를 더하면, 실수로 저장된다.
d = a + b
print(d, type(d))

# 문자열끼리는 더하기 연산을 통해, 이어 붙이기가 가능하다.
e = str(a) + " " + c + "/abcdef"
print(e, type(e))

4.0 <class 'float'>
2 Hello/abcdef <class 'str'>

## 3.사칙연산

In [6]:
# 파이썬에서는 다양한 사칙연산이 정의되어 있다.

a = 1
b = 2
c = 5

print(a+b)  # add
print(a-b)  # subtract
print(b*c)  # multiply
print(b/c)  # divide
print(c//b) # quotient
print(c%b)  # remainder
print(b**c) # power

3
-1
10
0.4
2
1
32

## 4.List

In [7]:
# 리스트의 생성
list_1 = [1,2,3]

# 리스트의 타입
print(type(list_1))

# 리스트의 출력
print(list_1)

# 리스트에 요소 추가
list_1.append(4)
print(list_1)

# 정수로만 이루어진 리스트에 문자열 추가
list_1.append("abc")
print(list_1)

# 리스트에 리스트 추가
list_1.append(list_1)
print(list_1)

<class 'list'>
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 'abc']
[1, 2, 3, 4, 'abc', [...]]

In [8]:
# 리스트의 인덱싱
print(list_1[2:-1])
print(list_1[2:-2])
print(list_1[1:3])

[3, 4, 'abc']
[3, 4]
[2, 3]

In [9]:
# 리스트 요소 지우기(delete)
del list_1[-1]
print(list_1)

# 리스트 마지막 요소 꺼내기(pop)
list_1.pop()
print(list_1)

[1, 2, 3, 4, 'abc']
[1, 2, 3, 4]

## 5.Dictionary

In [10]:
# 딕셔너리의 생성("key" = value)
dict_1 = {
    "이름" : "최민우", "학번" : "202114058", 
    "강의" : ["인공지능 3", "소프트워어공학 3"]
}

# 키의 종류를 확인
print(dict_1.keys())

# 키를 이용해 그 키에 해당하는 값을 불러오는 방법
print(dict_1["이름"])

dict_keys(['이름', '학번', '강의'])
최민우

In [11]:
# 딕셔너리의 타입
print(type(dict_1))

# 딕셔너리의 출력
print(dict_1)

# 딕셔너리에 요소를 추가
dict_1["사는곳"] = "서울특별시 은평구"
print(dict_1)

# 키를 이용해 삭제하는 방법
del dict_1["사는곳"]
print(dict_1)

<class 'dict'>
{'이름': '최민우', '학번': '202114058', '강의': ['인공지능 3', '소프트워어공학 3']}
{'이름': '최민우', '학번': '202114058', '강의': ['인공지능 3', '소프트워어공학 3'], '사는곳': '서울특별시 은평구'}
{'이름': '최민우', '학번': '202114058', '강의': ['인공지능 3', '소프트워어공학 3']}

## 6.반복문

In [12]:
# for 반복문
for i in range(5):
    print(i)
print("\n")

# range() : 시작점, 끝점, 한번에 이동하는 크기를 지정.
for i in range(0,-5,-1):
    print(i)
print("\n")

# for 반복문의 활용
for i in range(5,99,10):
    print(i)

0
1
2
3
4


0
-1
-2
-3
-4


5
15
25
35
45
55
65
75
85
95

In [13]:
# for 반복문을 이용한 리스트의 출력
print(list_1)
for i in list_1:
    print(i)
print("\n")

# for 반복문을 이용한 딕셔너리의 출력("key" = value)
print(dict_1)
for key in dict_1:
    print(key,"\t",dict_1[key])
print("\n")

# enumerate() : 현재 몇번째 출력인지를 확인
for idx,i in enumerate(dict_1.keys()):
    print(idx,i)

[1, 2, 3, 4]
1
2
3
4


{'이름': '최민우', '학번': '202114058', '강의': ['인공지능 3', '소프트워어공학 3']}
이름 	 최민우
학번 	 202114058
강의 	 ['인공지능 3', '소프트워어공학 3']


0 이름
1 학번
2 강의

In [14]:
# while 반복문
a = 0
while(a<10):
    print(a)
    a += 1   # a = a + 1

0
1
2
3
4
5
6
7
8
9

## 7.조건문

In [15]:
# 일치 여부 출력
print(2==2)
print(2==3)

# 불일치 여부 출력
print(2!=2)
print(2!=3)

# 일치 여부 출력(문자열)
print("AB"=="A")
print("AB"=="AB")

True
False
False
True
False
True

In [16]:
print(dict_1)

# 딕셔너리에서 "이름" 키에 해당하는 value 뽑아내기
for key in dict_1:
    if key == "이름":      # key 값이 일치하면, 해당 키에 대한 value를 출력
        print(dict_1[key])
    else:                  # key 값이 일치하지 않는다면, 딕셔너리의 다음 key로 pass(그냥 넘어간다!)
        pass

{'이름': '최민우', '학번': '202114058', '강의': ['인공지능 3', '소프트워어공학 3']}
최민우

In [17]:
# 위의 방식을 한줄로 표현 가능(list comprehension)
[dict_1[key] for key in dict_1 if key == "이름"]

['최민우']

## 8.함수

In [18]:
# 팩토리얼 함수 정의
def factorial(num):
    result = 1
    for i in range(1,num+1):
        result = result*i
    return result

print(factorial(5))

120

## 9. 클래스와 인스턴스

In [19]:
# 클래스의 생성(First)
class Jedi(object):
    def __init__(self,name,droid):
        self.name = name
        self.droid = droid
        self.exp = 0
    def train(self):
        self.exp += 10

# instance
anakin = Jedi("Anakin Skywalker","R2D2")
anakin.train()

print(anakin.name)
print(anakin.droid)
print(anakin.exp)

Anakin Skywalker
R2D2
10

In [20]:
# 클래스의 생성(Second)
class Bus(object):
    def __init__(self,number,fee):
        self.number = number
        self.fee = fee
        self.people = []

class Person(object):
    def __init__(self,name,money):
        self.name = name
        self.money = money
    def ride(self,bus):
        self.money -= bus.fee
        bus.people.append(self)

# instance 
bus588 = Bus(588, 1200)
cmw = Person("최민우",5000)

cmw.ride(bus588)
print(cmw.money)
print(bus588.people[0].name)

3800
최민우